body {
    background-image: url(https://cdn.discordapp.com/attachments/721158720108625944/756941924287381626/BG_00000.jpg);
    background-attachment: fixed;
}

header {
    height: 100px;
}

.logo img {
    width: 100px;
    float: left;
}
.box  .tabl_0 {
    padding: 10px;
}

@media (min-width: 910px) {
     nav ul {
        list-style-type: none;
        display: inline-flex;
        font-size: 150%;
    }
.box  .tabl_0 {
    padding: 10px;
}
    
}